h1{
	color: purple;
	border: 1px solid black;
	font-family: sans-serif;
	text-align: center;
	font-size:2.5em;
	text-shadow: 5px 3px 4px gray;
	font-weight:bold;
}
h2{
	color:rgb(0,128,128);
	font-size:1.5em;
}
h1,h2,h3{font-family:Arial;}
aside, footer{
	font-style: italic;
}

table, th, td{border:1px solid black;}
#images{text-align:center;}

#newhead{color:red;}
p{font-family:Arial;}
		
.special{color:darkorange; font-weight:bold;}
.new{float: right;}
nav a {text-decoration:none;
padding:0.2em 0.6em; border:4px solid #ccc;}

ol ul {list-style-type:square;}
aside:hover{display:none;}
nav a:hover{background-color:lightblue; border-color:darkblue;}
	